In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
data= pd.read_csv('owid-covid-data.csv')

In [3]:
data

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests
0,AFG,Asia,Afghanistan,2/24/2020,40099462.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2/25/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2/26/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2/27/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2/28/2020,40099462.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214472,ZWE,Africa,Zimbabwe,9/2/2022,15993524.0,256744.0,6.0,8.857,5596.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214473,ZWE,Africa,Zimbabwe,9/3/2022,15993524.0,256755.0,11.0,10.429,5596.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214474,ZWE,Africa,Zimbabwe,9/4/2022,15993524.0,256763.0,8.0,9.143,5596.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214475,ZWE,Africa,Zimbabwe,9/5/2022,15993524.0,256769.0,6.0,9.286,5596.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214476,ZWE,Africa,Zimbabwe,9/6/2022,15993524.0,256782.0,13.0,10.571,5596.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(214477, 27)

#### Count the no of missing rows

In [5]:
data.isnull().sum()

iso_code                                   0
continent                              12361
location                                   0
date                                       0
population                              1260
total_cases                             8907
new_cases                               9150
new_cases_smoothed                     10332
total_deaths                           27719
new_deaths                             27789
new_deaths_smoothed                    28964
total_cases_per_million                 9850
new_cases_per_million                  10093
new_cases_smoothed_per_million         11270
total_deaths_per_million               28649
new_deaths_per_million                 28719
new_deaths_smoothed_per_million        29889
reproduction_rate                      54828
icu_patients                          187093
icu_patients_per_million              187093
hosp_patients                         184384
hosp_patients_per_million             184384
weekly_icu_admissions                 207559
weekly_icu_admissions_per_million     207559
weekly_hosp_admissions                200546
weekly_hosp_admissions_per_million    200546
total_tests                           135090
dtype: int64

In [6]:
pd.DataFrame(data.isnull()).sum()

iso_code                                   0
continent                              12361
location                                   0
date                                       0
population                              1260
total_cases                             8907
new_cases                               9150
new_cases_smoothed                     10332
total_deaths                           27719
new_deaths                             27789
new_deaths_smoothed                    28964
total_cases_per_million                 9850
new_cases_per_million                  10093
new_cases_smoothed_per_million         11270
total_deaths_per_million               28649
new_deaths_per_million                 28719
new_deaths_smoothed_per_million        29889
reproduction_rate                      54828
icu_patients                          187093
icu_patients_per_million              187093
hosp_patients                         184384
hosp_patients_per_million             184384
weekly_icu_admissions                 207559
weekly_icu_admissions_per_million     207559
weekly_hosp_admissions                200546
weekly_hosp_admissions_per_million    200546
total_tests                           135090
dtype: int64

# filling missing values

In [11]:
data = pd.DataFrame(data.continent.fillna(0))
data

       continent
0           Asia
1           Asia
2           Asia
3           Asia
4           Asia
...          ...
214472    Africa
214473    Africa
214474    Africa
214475    Africa
214476    Africa

[214477 rows x 1 columns]

In [12]:
data= pd.DataFrame(data.population.fillna(0))
data

AttributeError: 'DataFrame' object has no attribute 'population'

# which continent had most cases

In [ ]:
most_cases = data.groupby('continent').agg({'total_cases':'sum'}).sort_values('total_cases',ascending = False)
most_cases

In [ ]:
sns.barplot(x='continent', y='total_cases',data = most_cases.reset_index())
plt.xticks(rotation ='vertical')

In [ ]:
data

# which continent has most population

In [ ]:
pop = pd.DataFrame(data.groupby('continent').sum()['population'])
pop.sort_values(by=['population'], inplace = True, ascending = False)
pop

In [ ]:
sns.barplot(x='continent',y='population', data = pop.reset_index())
plt.xticks(rotation = 'vertical')

# comparision between cases and population

In [ ]:
sns.barplot(x='continent', y='total_cases',data = most_cases.reset_index())
plt.xticks(rotation ='vertical')

In [ ]:
sns.barplot(x='continent',y='population', data = pop.reset_index())
plt.xticks(rotation = 'vertical')

In [ ]:
data

In [ ]:
india=data[data['location']=='India']
india

In [ ]:
data.describe()